# Ignore configuration files that may contain sensitive information.
sites/*/settings.local.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore development modules
sites/*/modules/contrib/coder
sites/*/modules/contrib/devel
sites/*/modules/contrib/devel_themer
sites/*/modules/contrib/masquerade
sites/*/modules/contrib/schema
