[submodule "sites/all/modules/contrib/doe_stats"]
	path = sites/all/modules/contrib/doe_stats
	url = git@github.nrel.gov:drupal/doe_stats.git
[submodule "sites/all/modules/contrib/nrel_cyber"]
	path = sites/all/modules/contrib/nrel_cyber
	url = git@github.nrel.gov:drupal/nrel_cyber.git
[submodule "sites/all/themes/ecleds/js/iconomatic"]
	path = sites/all/themes/ecleds/js/iconomatic
	url = git@github.nrel.gov:communications/nrel-iconomatic.git
