#page,
#toolbar,
.top-fixed-area {
  min-width: 1100px;
}

#page.branding-overlay {
  padding: 20px 20px !important;
}

.menu-name-main-menu li {
    display: inline-block;
}

ul .ui-autocomplete {
    position: absolute;
}

#branding {
    overflow: visible;
}

#branding .tabs {
    overflow: hidden;
}

#header div.block {
    width: auto;
}

#header div.block a {
    color: #fff;
}

#header div.block .ui-autocomplete a {
    color: #000;
}

#edit-field-activity-country-und .form-item,
#edit-field-opearting-unit-country-und .form-item {
    display: inline-block;
    width: 30%;
}

.field-name-field-activity-country .form-checkboxes {
  overflow:hidden;
  -webkit-column-count:4;
  -moz-column-count:4;
  -o-column-count:4;
  column-count:4;
}

.field-name-field-activity-goal-outcome.field-widget-text-textarea {
  clear: left;
  padding-top: 20px;
}

#edit-field-result-indicator-year-und-0-field-result-indicator-und-form-entity-id {
    width: 90%;
}

#field-impl-mech-gcc-indicator-values .field-type-number-integer {
    float: left;
    margin-right: 2em;
    width: 150px;
}

#edit-field-completion-month,
#edit-field-completion-year,
#edit-field-field-exp-compl-year,
#edit-field-expected-completion-month,
#edit-field-impl-mech-perf-start-month,
#edit-field-impl-mech-perf-start-year,
#edit-field-impl-mech-perf-end-month,
#edit-field-impl-mech-perf-end-year {
    float: left;
}

.field-name-field-impl-mech-perf-start-month,
.field-name-field-impl-mech-perf-start-year,
.field-name-field-impl-mech-perf-end-month,
.field-name-field-impl-mech-perf-end-year {
    display: inline-block;
}

.node-type-ecleds-implementing-mechanism #edit-title,
.page-node-add-ecleds-implementing-mechanism #edit-title,
#edit_field_implementing_mechanism_und_chosen,
*[id^='edit-field-proj-impl-mechanism-und-form-title'],
*[id^='edit-field-proj-impl-mechanism-und-form-entity-id'] {
    width: 98%;
}

.field_collection_item_operations li {
    list-style-type: none;
}

#toolbar.toolbar.overlay-displace-top.clearfix.toolbar-processed .toolbar-menu a.toggle.toolbar-toggle-processed.toggle-active {
  display: none;
}

#branding #block-menu-block-1,
#fixed-branding #block-menu-block-1{
    width: 350px;
    text-indent: 1rem;
}

/**
 * Branding.
 */
#fixed-branding {
  overflow: hidden;
  padding: 10px 20px 0 20px;/* LTR */
  background-color: #333;
  width: 100%;
  z-index: 99;
  position: relative;
}

#fixed-branding div.breadcrumb {
  font-size: 14px;
  padding-bottom: 5px;
  color: #888888;
}

#fixed-branding div.block {
  position: relative;
  float: right;/* LTR */
  width: 240px;
  padding-left: 10px;/* LTR */
  background: #333;
}

#fixed-branding div.block form label {
  display: none;
}

#fixed-branding div.block form div.form-item {
  float: left;/* LTR */
  border: 0;
  margin: 0;
  padding: 0;
}

#fixed-branding div.block form input.form-text {
  width: 140px;
  margin-right: 10px;/* LTR */
}

#fixed-branding div.block form input.form-submit {
  text-align: center;
  width: 80px;
}

#fixed-branding h1.page-title {
  color: #FFFFFF;
  float: left;
  font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 38px;
  margin: 0;
  padding: 0 0 24px;
  width: 67%;
}

#fixed-branding #header {
  width: 32%;
  float: right;
}

div.add-or-remove-shortcuts {
  position: absolute;
  bottom: 46px;
  left: 8px;
}

.no-primary div.add-or-remove-shortcuts {
  bottom: 7px;
}

body.adminimal-theme #media-browser-page #fixed-branding {
  background: #ddd;
  margin: 0;
  padding: 0;
}

.top-fixed-area {
  z-index: 99;
  /*background-color:#fff;*/
}

/* Overlay theming */
.overlay #fixed-branding {
  background-color: #fff;
  padding-top: 15px;
}

.overlay #fixed-branding h1.page-title,.overlay #left,.overlay #footer {
  display: none;
}

.overlay #fixed-branding div.breadcrumb {
  float: left;/* LTR */
  position: relative;
  z-index: 10;
}

.filter-wrapper {
  display: none;
}

.group-completion-date,
.group-expected-completion-date {
  width: 24em;
}

.field-name-field-impl-mech-perf-start-month,
.field-name-field-impl-mech-perf-start-year,
.field-name-field-impl-mech-perf-end-month,
.field-name-field-impl-mech-perf-end-year,
.field-name-field-completion-month,
.field-name-field-completion-year,
.field-name-field-expected-completion-month,
.field-name-field-field-exp-compl-year {
  float:left;
}

.field-name-field-impl-mech-perf-end-month,
.field-name-field-expected-completion-month,
.field-name-field-field-exp-compl-year.no-expected-completion-month {
  margin-left: 40px;
}

.field-name-field-expected-completion-month.no-completion-date,
.field-name-field-field-exp-compl-year.no-expected-completion-month.no-completion-date {
  margin-left: 0px;
}

.node-ecleds-implementing-mechanism .field-collection-container,
.field-name-field-im-funding-pillar,
.field-name-field-milestone-cleared,
.field-name-field-im-supports-toc {
  clear: both;
}

.node-ecleds-implementing-mechanism h2 .title-dates,
.node-nrel-ecleds-milestone h2 .title-dates {
  font-size: 0.8em;
  margin-top:3px;
  margin-left: 30px;
}

.node-ecleds-implementing-mechanism h2 .title-dates .title-start-date {
  margin-right: 40px;
}

.node-ecleds-implementing-mechanism h2 .title-dates .label,
.node-nrel-ecleds-milestone h2 .title-dates .label {
  font-weight: bold;
}

#environmental-and-economical-node-form .field {
  margin-bottom: 1.5em;
}

.node-ecleds-implementing-mechanism,
.node-ppr,
.node-nrel-ecleds-milestone {
  position: relative;
}

.node-ecleds-implementing-mechanism .edit-button,
.node-ppr .edit-button,
.node-nrel-ecleds-milestone .edit-button,
.node-nrel-ecleds-milestone .edit-link,
.node-nrel-ecleds-milestone .cleared {
  position: absolute;
  top: 18px;
  right: 15px;
}

.node-nrel-ecleds-milestone .edit-link {
  top: 37px;
  right: 28px;
}

.node-ecleds-implementing-mechanism .edit-button .button-edit,
.node-ppr .edit-button .button-edit,
.node-operating-unit a.button.button-edit,
.node-nrel-ecleds-milestone .edit-button .button-edit {
  background-color: #0074BD;
  color: white;
}

.node-ecleds-implementing-mechanism .field-name-field-activities-ent-ref .field-items {
  margin-left: 1em;
}

.node-ecleds-implementing-mechanism .field-name-field-activities-ent-ref h3 {
  margin-top: 1em;
}

.field-collection-view {
  padding: 0em 0 0.3em 0;
}

.view-nrel-ecleds-country-list.view-display-id-page .views-row-even,
.view-operating-units.view-display-id-page .views-row-even {
  background-color: #f3f4ee;
}

.view-nrel-ecleds-country-list.view-display-id-page .views-row,
.view-operating-units.view-display-id-page .views-row {
  padding: 8px 10px;
}

.view-nrel-ecleds-country-list.view-display-id-page h3,
.view-operating-units.view-display-id-page h3 {
  margin: 1.75em 0 1em;
}

.field-collection-view-final {
  border-bottom: 1px dotted #D3D7D9;
}

.node.node-activity .content {
  border-bottom: 1px solid #D3D7D9;
}

/* Reports */
#views-exposed-form-indicator-report-page #edit-nid-wrapper {
  display: none;
}

.view-milestone-report table th,
.view-milestone-report table td,
.view-indicator-report table th,
.view-indicator-report table td {
    font-size: 14px;
    padding: 5px 2px;
}

.view-milestone-report table th,
.view-indicator-report table th {
    font-weight: 700;
}

.view-milestone-report .feed-icon,
.view-indicator-report .feed-icon {
  display: inline-block;
}

.view-milestone-report .feed-icon.top,
.view-indicator-report .feed-icon.top {
  margin-top:2em;
  margin-bottom: 1.5em;
}

.view-milestone-report .feed-icon.bottom,
.view-indicator-report .feed-icon.bottom {
  margin-top:1em;
}

.view-milestone-report .feed-icon a,
.view-indicator-report .feed-icon a {
  border-radius: 0;
  border: none;
  padding: 6px 10px;
  margin-bottom: 1em;
  margin-right: 1em;
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande",Verdana,sans-serif;
  background-color: #4d8f46;
}

.view-milestone-report .feed-icon a:hover,
.view-indicator-report .feed-icon a:hover {
  text-decoration: none;
  background-color: #0a6700;
}

/* At client request hide the "show row weights" on draggable tables */
.tabledrag-toggle-weight-wrapper {
  display: none;
}

/* Drag handles were not fully displayed at, for example, node/3210/edit (activities and GCC tabs) */
a.tabledrag-handle .handle {
  background-position: 0px 5px;
  height: 20px;
}

#ecleds-implementing-mechanism-node-form #edit-field-im-countries .form-type-checkbox {
  float: left;
  width: 31%;
  padding-right: 2%;
}

#ecleds-implementing-mechanism-node-form #edit-field-im-countries .form-type-checkbox:last-child {
  margin-bottom: 1em;
}

#ecleds-implementing-mechanism-node-form #edit-field-im-number {
  clear: both;
}