//
// @file
// Color variables.
//

//
// Colors
//

$gray-dark: #e1e2dc;
$gray-lite: #fafafa;
$gray: #ddd;
$white: #fff;

$clr-hdr: $gray-dark;
$clr-row: $gray;
$clr-cnt: $gray-lite;
$clr-fld: $white;